@import "../../theme/variables.scss";

page-filtro {

  .avatarGrande {
    color: map_get($colors, orange_80);
  }

  ion-badge.badge-md {
    float: right;
    background-color: map_get($colors, orange_80);
  }

  ion-badge.badge-ios {
    float: right;
    background-color: map_get($colors, orange_80);
  }

  ion-icon.avatarGrande.icon-md {
    font-size: 3em;
  }

  ion-icon.avatarGrande.icon-ios {
    font-size: 2.5em;
  }
}
