modal-image {
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 20% 10%  !important;
    ion-grid{
        background-color: #fdfdfd !important;
    }
    ion-content{
        background-color: transparent !important;
        position: relative !important;
    }
    .toolbar-background{
        background-color: #6D8046;
        border-color: #b2b2b2;
        box-shadow: 0px 9px 0px #3a3838;
    }
    .btn-fechar{
        color: #000000;
        font-weight: 900;
        font-size: 1em;
    }
   .no-padding-top{
       //padding-top: 0px !important;
   }
   ion-navbar{
    min-height: 5px !important;
   }
}
